# Exercise Hari Pertama Week 1

### Tipe Data (Int, Float, String, Boolean) + Bahas juga terkait Variable Assignment

In [79]:
# kita define variable dulu biar ga ganti2 teruus (v = Variable)

# yang ini tipe data single
v1 = 12
v2 = 3.5
v3 = 'ini komen pertama'
v4 = 'ini komen kedua'
v5 = 'ini komen ketiga'
v6 = 'ini komen keempat'
v7 = True
v8 = False

# yang ini data majemuk
v9 = (v1, v2, v3, v4, (v5, v6, v7), v8)
v10 = [v1, v2, v3, v4, (v5, v6, v7), v8]

### A. Tipe Data dulu

In [85]:
# yuuk coba panggil variable & cek jenis datanya apa

print(type(v1)); print(type(v2)); print(type(v3)); print(type(v4)); print(type(v5)); print(type(v6));
print(type(v7)); print(type(v8)); print(type(v9)); print(type(v10))

### ??? fungsi type + len cuma bisa ngecek satu bilangan tok, kec di tulis ulang type sama

print(type(v1), type(v2), type(v3), type(v4), type(v5), type(v6), type(v7), type(v8), type(v9), type(v10))

print(len(v3), len(v4), len(v5), len(v6), len(v9), len(v10))

# print beberapa variable pake tanda kome berubah jadi matrix
print(v1, v2, v3, v9)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'bool'> <class 'bool'> <class 'tuple'> <class 'list'>
17 15 16 17 6 6
12 3.5 ini komen pertama (12, 3.5, 'ini komen pertama', 'ini komen kedua', ('ini komen ketiga', 'ini komen keempat', True), False)

### B. Variable (int dan float) & Operasi aljabar biasa

In [31]:
print(v1 + v2); print(v1 - v2); print(v1 * v2); print(v1 / v2) # Operasi tambah kali bagi standar
print(v1 // v2) # pembagian int;
print(v1 % v2) # pembagian int sisa alias modulus

15.5
8.5
42.0
3.4285714285714284
3.0
1.5

### C. Variable (string) & Operasi + Expresi + Formating

In [75]:
# panggil variable string beda baris pake titik kome (;)
print(v3); print (v4)

# panggil variable string beda kolom pake kome (,)
print(v3,v4)

# coba itung panjang element di string (spasi termasuk hitungan), pake print atau enggak bisa juga
print(len(v4))
len(v5)

ini komen pertama
ini komen kedua
ini komen pertama ini komen kedua
15

16

In [78]:
# kita coba tambah elemen string (cuma bisa ditambah, di x bisa tapi sama int)

print(v3 + v4 + v5)
print(v5 * 2)

ini komen pertamaini komen keduaini komen ketiga
ini komen ketigaini komen ketiga

In [86]:
# coba kita mainkan FONT TYPE gede kecil

v3.upper() + v4.upper() + v5.lower()*2

'INI KOMEN PERTAMAINI KOMEN KEDUAini komen ketigaini komen ketiga'

In [93]:
# panggil variable di yang ada stringnya
print('coba kita panggil variable 1 yaitu', v1, 'terus setelah itu kita panggil variable 2 yaitu', v3.upper(),'done')

# atau bisa juga gini
print(f'coba kita panggil variable 1 yaitu {v1} terus setelah itu kita panggil variable 2 yaitu {v3.upper()} done')

coba kita panggil variable 1 yaitu 12 terus setelah itu kita panggil variable 2 yaitu INI KOMEN PERTAMA done
coba kita panggil variable 1 yaitu 12 terus setelah itu kita panggil variable 2 yaitu INI KOMEN PERTAMA done

### D. Dictionary (harus ada relasi)

In [3]:
# membuat dictionary (1)

biodata = {"nama" : "hans", "usia": "29"}
biodata

{'nama': 'hans', 'usia': '29'}

In [8]:
'hans' in biodata['nama']

True

In [9]:
# membuat dictionary (2)

# kita buat dictionary kosong dulu
person = {}

# baru kita define keys nya pake list
person['fname'] = 'Hack'
person['lname'] = '8'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [30]:
print(person['children'][:2])

['Ralph', 'Betty']

In [24]:

len(person)

['Ralph', 'Betty', 'Joey']

6

In [28]:
# membuat dictionary (3)

mobil = {
  "brand": "Totoya",
  "model": ["Avanza",'Yaris','inova','altis','fortuner'],
  "year": 2020
}

mobil["model"][:2]

['Avanza', 'Yaris']