# Notebook Heading 1

yoooooi kita coba posting program yg barusan udah dibuat kuy

In [1]:
print("Coba cuus kita tengok udah muncul apa belom")

Coba cuus kita tengok udah muncul apa belom

### Tipe data dalam Python (Data single)

In [2]:
9

9

In [8]:
# ini nyobain tipe data int dan float guys
type(45)

int

In [9]:
print(type(9.0)) # yang ini float guys, csoalee desimal
print(type(9)) # yang ini integer
print(type(False)) # yg ini Boolean alias True False
print(type("Ihiiir")) # nah yg ini String

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>

### Tipe data dalam Python (Data Majemuk)

In [15]:
# contoh data majemuk
(1, 5, "coba cek", 4.6, False) # ini tuple
[1, 5, "coba cek", 4.6, False] # ini list

[1, 5, 'coba cek', 4.6, False]

In [14]:
# coba kita print
print(type((1, 5, "coba cek", 4.6, False)))
print(type([1, 5, "coba cek", 4.6, False]))

<class 'tuple'>
<class 'list'>

In [16]:
"Coba cuus kita tengok udah muncul apa belom"

'Coba cuus kita tengok udah muncul apa belom'

In [17]:
'Coba cuus kita tengok udah muncul apa belom'

'Coba cuus kita tengok udah muncul apa belom'

### Variable

In [19]:
x = 10

In [20]:
14 + x

24

In [23]:
x/3 + 5

8.333333333333334

In [24]:
a = b = c = 100

In [25]:
print(a,b,c)

100 100 100

### String

In [28]:
coba_string = "kita coba buat komen"
coba_string_2 = 'naah ini coba pake petik'
print(type (coba_string), type(coba_string_2))

<class 'str'> <class 'str'>

In [29]:
len(coba_string)

20

In [30]:
coba_string.upper()

'KITA COBA BUAT KOMEN'

In [34]:
coba_string_2.lower()

'naah ini coba pake petik'

### String Formating

In [2]:
nama = "Budi"
usia = 29

print("naaah kita coba type nama", nama, "dan umur", usia)

naaah kita coba type nama Budi dan umur 29

In [39]:
print(f"coba tulis nama {nama} dan usia {usia} test")

coba tulis nama Budi dan usia 29 test

### Indexing & Slicing

In [42]:
capcus = "mynameishans"
capcus[6] #pake krung siku tuk panggil unit di urutan ke 6 start from 0 dari depan
capcus[-1] # dari belakang
print(capcus[6],capcus[-1])

i s

In [44]:
len(capcus)

12

In [50]:
# slicing
capcus[::2]

'mnmihn'

### Boolean

In [51]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [52]:
print(100 > 200) #False
print(100 == 200) #False
print(100 < 200) #True

False
False
True

### Operasi

In [64]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) # pembagian integer alias bilangan bulat
print(a % b) # modulus atau sisa bagi
print(a ** b) # operasi pangkat
print(a ^ b) # operasi XOR

13
7
30
3.3333333333333335
3
1
1000
9

In [67]:
beta = 10
gamma = 20

print(beta == gamma) #sama dengan
print(beta != gamma) # tidak sama dengan
print(beta <= gamma) # lebih kecil sama dengan
print(beta >= gamma) # lebih besar sama dengan
print(beta < gamma) # lebih kecil

False
True
True
False
True

In [65]:
s = 'foo'
t = 'bar'
# + and * Operators
print(s + t )
print(s * 4)
#Case Conversion
print(s.capitalize())
print(s.lower())
print(s.swapcase())

foobar
foofoofoofoo
Foo
foo
FOO

### Logika

In [79]:
True or True

True

In [80]:
True or False

True

In [81]:
False or True

True

In [82]:
False or False

False

### Operasi keanggotaan

In [71]:
listbuah = ("pepaya", "mangga", "pisang", "apel")
print(listbuah)

('pepaya', 'mangga', 'pisang', 'apel')

In [83]:
"apel" in listbuah

True

### Tipe Data Majemuk

In [74]:
my_tuple = (4, 5, "Ihiir", True, (1,2,3,4))

In [75]:
my_tuple[4][2:4]

(3, 4)

In [91]:
# YUK KITA COBA BUAT LIST, yang isinya semau jenis data
my_list = [1,2,3,4,5, "komen", True, (1,2,3,4)]
print(my_list)

[1, 2, 3, 4, 5, 'komen', True, (1, 2, 3, 4)]

In [86]:
# kita liat jumlah data yg ada di list
len(my_list)

8

In [52]:
# kita show salah satu list yang udah di define
my_list[0:8:2]

[1, 3, 5, True]

In [53]:
# kita juga bisa tambah data baru di list REPLACE
my_list[2] = "new komen"

In [54]:
my_list

[1, 2, 'new komen', 4, 5, 'komen', True, (1, 2, 3, 4)]

In [55]:
my_list.append("new string") #tambah lagi element yang laiiin, tapi pasti dari belakang

In [37]:
my_list

[4, 5, 'myname', True, (1, 2, 3, 4), 'new string']

In [41]:
my_list.insert(2, 46)

In [39]:
my_list

[4, 5, 46, 'myname', True, (1, 2, 3, 4), 'new string']

In [13]:
# Hapus salah satu nilai
my_list.remove(4)

In [14]:
my_list

[5, 46, 'myname', True, (1, 2, 3, 4), 'tambah lagi element yang laiiin']

In [78]:
# contoh buat list lagi

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

car = ["Ford", "BMW", "Volvo"]
fruits.append(car[:2])

print(fruits)

['apple', 'banana', 'cherry', 'orange', ['Ford', 'BMW']]

### Dictionary (harus ada relasi)

In [2]:
biodata = {"nama" : "hans", "usia": "29"}

In [3]:
biodata["nama"]

'hans'

In [59]:
biodata.keys()

dict_keys(['nama', 'usia'])

In [8]:
person = {}
person['fname'] = 'Hack'
person['lname'] = '8'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [9]:
print(person)

{'fname': 'Hack', 'lname': '8', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [12]:
print(person['children'][1])

Betty

Trial dari w3school

In [73]:
# membuat dictionary

mobil = {
  "brand": "Totoya",
  "model": "Avanza",
  "year": 2020
}

mobil["model"]

'Avanza'

In [69]:
mobil.values

In [72]:
len(mobil)

3